@font-face {
  font-family: 'Bellota-LightItalic';
  src: url('../fonts/Bellota-LightItalic.otf');
}
@font-face {
  font-family: 'Bellota-BoldItalic';
  src: url('../fonts/Bellota-BoldItalic.otf');
}

body {
  line-height: 17px;
  background-color: #eeeeee;
}

a {
  color: #20aae5;
  text-decoration: none;
}

nav a {
  position: relative;
  color: #1894ca;
  text-decoration: none;
  font-size: 17px;
}

nav {
  float: right;
  right: 1px;
  position: absolute;
  margin: 10px;
}

nav a:hover {
  border-bottom: 7px;
  color: #f67e72;
}

.top_bar {
  width: 100%;
  min-width: 950px;
  height: 40px;
  background-color: #fff;
  border-bottom: 0.5px solid #1894ca;
  box-shadow: 0px 0px 8px -4px #000;
  margin: 0 0 10px 0;
  display: inline-flex;
  position: fixed;
  z-index: 1;
}

.logo a {
  font-family: 'Bellota-BoldItalic', sans-serif;
  margin-left: 10px;
  font-size: 150%;
  position: relative;
  top: 9px;
  text-shadow: #73b6e2 0.5px 0.5px 0px;
  color: #1086ba;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  top: 50px;
  position: relative;
  padding: 0 10px;
  width: 75%;
  min-width: 950px;
}

.column {
  background-color: #fff;
  padding: 0.5%;
  /*border: 1px solid #d6d6d6;*/
  border-radius: 5px;
  box-shadow: 1px 1px 1px #d3d3d3;
  z-index: -1;
}

.user_details {
  width: 25%;
  float: left;
  margin-bottom: 20px;
}

.user_details img {
  width: 50%;
  border-radius: 5px;
}

.user_details_left_right {
  width: 125px;
  display: inline-block;
  border-radius: 5px;
  position: absolute;
  padding: 1%;
}

.main_column {
  float: right;
  width: 70%;
  z-index: -1;
  min-height: 160px;
  margin-left: 0.5%;
}

.post_form {
  width: 100%;
}

.post_form textarea {
  width: 81%;
  height: 60px;
  border-radius: 5px;
  margin-right: 0.5%;
  border: 1px solid #d6d6d6;
  font-size: 12px;
  padding: 0.5px;
}

textarea:focus {
  outline: 0;
}

.post_form input[type='submit'] {
  width: 12%;
  height: 63px;
  border: none;
  border-radius: 5px;
  background-color: #20aae5;
  font-family: 'Bellota-BoldItalic', sans-serif;
  color: #fff;
  text-shadow: #73b6e2 0.5px 0.5px 0px;
  font-size: 90%;
  position: absolute;
  outline: 0;
  margin: 0;
}

.post_body {
  margin-left: 60px;
}

.post_form input[type='submit']:active {
  background-color: #3ab5e9;
}

.post_form input[type='submit']:hover {
  padding: 5px 4px 4px 5px;
}

.status_post {
  width: 96%;
  font-size: 15px;
  padding: 0px 5px;
  min-height: 50px;
  cursor: pointer;
}

.post_profile_pic {
  float: left;
  margin-right: 8px;
}

.post_profile_pic img {
  border-radius: 5px;
}

.posts_end input[type='submit'] {
  border-radius: 5px;
  background-color: #20aae5;
  font-family: 'Bellota-BoldItalic', sans-serif;
  color: #fff;
  font-size: 75%;
  position: absolute;
}

.newsfeedPostOptions {
  padding: 0px;
  text-decoration: none;
  color: #20aae5;
  border: none;
}

#comment_iframe {
  margin-top: 7px;
  max-height: 250px;
  width: 100%;
}

.comment_section {
  padding: 0 5px 5px 5px;
}

.comment_section img {
  margin: 0 5px 3px 3px;
  border-radius: 3px;
}

#comment_form textarea {
  border-color: #d3d3d3;
  width: 85%;
  height: 35px;
  border-radius: 5px;
  color: #606060;
  font-size: 14px;
  margin: 3px 3px 3px 5px;
}

#comment_form input[type='submit'] {
  width: 13%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #20aae5;
  font-family: 'Bellota-BoldItalic', sans-serif;
  color: #fff;
  text-shadow: #73b6e2 0.5px 0.5px 0px;
  font-size: 100%;
  position: absolute;
  outline: 0;
  margin-top: 3px;
}

.newsfeedPostOptions iframe {
  border: 0px;
  height: 17px;
  width: 120px;
}

.comment_like {
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #3498db;
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
}

.like_value {
  display: inline;
  font-size: 14px;
}

.profile_left {
  top: -10px;
  width: 17%;
  max-width: 240px;
  min-width: 130px;
  height: 100%;
  min-height: 800px;
  float: left;
  position: relative;
  background-color: #fff;
  border-right: 4px solid #1894ca;
  color: #fff;
  margin-right: 20px;
}

.profile_left img {
  min-width: 80px;
  width: 55%;
  margin: 20px;
  margin-left: 35px;
  border: 5px solid #ffffff;
  box-shadow: 0px 0px 15px -4px #888;
  border-radius: 100px;
}

.profile_info {
  display: list-item;
  background-color: #dcd6ff;
  width: 100%;
  padding: 10px 0 10px 0;
}

.profile_info p {
  margin: 0 0 0 20px;
  word-wrap: break-word;
  color: #1894ca;
  font-family: 'Bellota-BoldItalic', sans-serif;
}

.danger {
  background-color: #e74c3c;
}
.warning {
  background-color: #f0ad4e;
}
.default {
  background-color: #bdc3c7;
}
.success {
  background-color: #2ecc71;
}
.info {
  background-color: #3498db;
}
.deep_blue {
  background-color: #0043f0;
}

.profile_left input[type='submit'] {
  width: 90%;
  height: 30px;
  border-radius: 5px;
  margin: 7px 0 0 7px;
  border: none;
  color: #fff;
}

#accept_button {
  width: 20%;
  height: 28px;
  border-radius: 5px;
  margin: 5px;
  border: none;
  color: #fff;
  background-color: #2ecc71;
}
#ignore_button {
  width: 20%;
  height: 28px;
  border-radius: 5px;
  margin: 5px;
  border: none;
  color: #fff;
  background-color: #e74c3c;
}

.delete_button {
  height: 22px;
  width: 22px;
  padding: 0;
  float: right;
  border-radius: 4px;
  right: -15px;
  position: relative;
}

.profile_main_column {
  min-width: 675px;
  float: left;
  width: 70%;
  z-index: -1;
}

.profile_info_bottom {
  margin: 10 0 0 7px;
  color: #1894ca;
  padding: 5px;
}

.small_profile_pic {
  height: 55px;
  margin: 1px 12px 0 2px;
  float: left;
}

#message_textarea {
  width: 80%;
  margin-right: 8px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  font-size: 12px;
}
#message_submit {
  height: 41px;
  width: 120px;
  margin: 0;
  position: absolute;
  border: none;
  background-color: #20aae5;
  color: #156588;
  border-radius: 5px;
  font-family: 'Bellota-BoldItalic', sans-serif;
  text-shadow: #73b6e2 0.5px 0.5px 0px;
}
.message {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
  color: #fff;
}

.message#blue {
  background-color: #3498db;
  border-color: #2980b9;
  float: right;
  margin-bottom: 5px;
}
.message#green {
  background-color: #2ecc71;
  border-color: #27ae60;
  float: left;
  margin-bottom: 5px;
}

.loaded_messages {
  height: 65%;
  min-height: 300px;
  max-height: 400px;
  overflow: scroll;
  margin-bottom: 10px;
}

.loaded_conversations {
  max-height: 216px;
  overflow: scroll;
}

.user_found_messages {
  border-bottom: 1px solid #d3d3d3;
  padding: 8px 8px 10px 8px;
}

.user_found_messages:hover {
  background-color: #d3d3d3;
}

.user_found_messages img {
  height: 35px;
  width: 35px;
  float: left;
}

#grey {
  color: #8c8c8c;
}

.resultDisplay {
  padding: 5px 5px 0 5px;
  height: 70px;
  border-bottom: 1px solid #d3d3d3;
}
.resultDisplay a {
  float: none;
}
.resultDisplay:hover {
  background-color: #ebebeb;
  text-decoration: none;
}
.liveSearchProfilePic img {
  height: 50px;
  border-radius: 25px;
  margin: 1px 12px 0 2px;
  float: left;
}

.liveSearchText {
  background-color: transparent;
  color: #1e96ca;
}

.liveSearchText p {
  margin-left: 10px;
  font-size: 12px;
}

.tab-content {
  margin-top: 25px;
}

.dropdown_data_window {
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 0 0 8px 8px;
  border-top: none;
  width: 300px;
  position: absolute;
  right: 10px;
  top: 40px;
  overflow: scroll;
}

.notification_badge {
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #f00;
  border-radius: 10px;
  position: absolute;
  left: 8px;
  top: -5px;
}

.resultDisplayNotification {
  height: auto;
  color: #1485bd;
  padding-bottom: 7px;
}

.resultDisplayNotification img {
  height: 40px;
  border-radius: 5px;
  margin: 1px 12px 0px 2px;
  float: left;
}

.timestamp_smaller {
  font-size: 85%;
  margin: 0;
}

.search {
  margin: 8px 0 0 25%;
}

.search #search_text_input {
  border: thin solid #e5e5e5;
  float: left;
  height: 15px;
  outline: 0;
  width: 150px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.search_results {
  background-color: #fff;
  border: 1px solid #dadada;
  border-bottom: none;
  border-top: none;
  margin-top: 21px;
}

.search_result {
  padding: 10px;
  height: 100px;
}

.searchPageFriendButtons {
  float: right;
}

.searchPageFriendButtons input[type='submit'] {
  border: none;
  padding: 7px 12px;
  border-radius: 5px;
  color: #fff;
}

.result_profile_pic {
  float: left;
  margin-right: 10px;
}

#search_hr {
  margin-bottom: 0px;
}

#settings_input {
  border: 1px solid #ccc;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
}

.settings_submit {
  border: none;
  padding: 7px 12px;
  border-radius: 5px;
  color: #fff;
}
